@import "tailwindcss";

:root {
    --background: #f5f1ea;
    --foreground: #290d00;
    --accent: oklch(67.376% 0.10541 82.831);
    --accent-foreground: #efdbb9;

    --solar: var(--accent);
    --void: oklch(46.714% 0.17428 283.272);
    --arc: oklch(64.226% 0.09254 223.366);
    --vampiric: oklch(54.616% 0.14917 12.518);
    --soulseeker: oklch(53.042% 0.18146 311.837);
    --dragon: oklch(58.744% 0.11736 40.635);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-solar: var(--solar);
    --color-void: var(--void);
    --color-arc: var(--arc);
    --color-vampiric: var(--vampiric);
    --color-soulseeker: var(--soulseeker);
    --color-dragon: var(--dragon);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #181611;
        --foreground: white;
    }
}

@utility center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin-absolute {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@utility spin-absolute {
    animation: spin-absolute var(--spin-duration, 1s) linear infinite;
}

@keyframes expand {
    to {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

@utility expand {
    animation: expand var(--expand-duration, 1s) ease-out forwards;
}

@keyframes moveLeft {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-100vw);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(100vw);
    }
}

.cloud-left {
    animation: moveLeft linear infinite;
}

.cloud-right {
    animation: moveRight linear infinite;
}

body {
    background: var(--background);
    color: var(--foreground);
}

.leaflet-control-layers {
    background: var(--background) !important;
    color: var(--foreground) !important;
    border-color: var(--accent) !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: var(--background) !important;
    color: var(--foreground) !important;
}

.leaflet-popup-close-button {
    visibility: hidden;
}

.leaflet-container a {
    color: transparent !important;
}
